---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="px-8 sm:px-16 md:px-20">
			<div class="py-10">
				<h1
					class="text-4xl font-regular tracking-tight text-slate-900 sm:text-7xl [text-wrap:balance]"
				>
					Alreet? I'm a front-end developer from the North East of
					England, specialising in React and Astro
				</h1>
			</div>
		</div>
	</main>
</Layout>
