---
---

<footer>
	<div class="px-8 sm:px-16 md:px-20 py-8 flex justify-between">
		<div class="text-base text-slate-900">© Nathan Lawson 2023</div>
		<div>Built with Astro, Tailwind</div>
	</div>
</footer>
