---
---

<header>
	<div class="px-8 sm:px-16 md:px-20 py-8 flex justify-between">
		<div
			class="text-3xl text-slate-900 font-medium tracking-tighter sm:text-4xl"
		>
			Nathan Lawson
		</div>
		<div>
			<ul class="flex gap-4">
				<li>About</li>
				<li>Work</li>
				<li>Posts</li>
			</ul>
		</div>
	</div>
</header>
